body{
    font-family:   "Arial", "Meiryo", sans-serif;
    text-align: center;
}
:root {font-size: 20px;
}
.blue {
    color: skyblue;
  }
  
.pink {
    color:  rgb(255, 192, 203);
  }

  h1 {
    font-size: 2rem; /* ルート要素の2倍 */
    font-family: sans-serif;
    letter-spacing: 1.2em; /* 文字間をフォントサイズに対して1.2倍 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgb(115, 115, 114);
  }  

  #basic {
    font-weight: bold; /* 文字を太文字に */
  }